<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <b>Update Citizen</b>
            </div>
            <div class="card-body">
                <form #updateForm="ngForm" (ngSubmit)="UpdateCitizen()">
                <label>Name</label>
                <input type="text"  [(ngModel)]="citizen.name" 
                name="name" 
                class="form-control"  required #dob="ngModel"/>
                <br />
                <label>Dob</label>
                <input type="text"  [(ngModel)]="citizen.dob" 
                name="dob" class="form-control"  required #dob="ngModel"/>
                <br />
                <label>Email</label>
                <input type="text"  [(ngModel)]="citizen.email" 
                name="email" class="form-control" required #email="ngModel"/>
                <br />
                <label>Address</label>
                <textarea type="text"  [(ngModel)]="citizen.address" 
                name="address" class="form-control" required #address="ngModel"></textarea>
                <br />
                <label>Mobile No</label>
                <input type="text"  [(ngModel)]="citizen.mobileno" 
                name="mobileno" class="form-control" required #mobileno="ngModel"/>
                <br />
                <label>Gender</label>
                <input type="text"  [(ngModel)]="citizen.gender" 
                name="gender" class="form-control" required #gender="ngModel"/>
                <br />
                <input type="submit"  value="Update Citizen" [disabled]="updateForm.invalid" class="btn btn-success" />
                <br /><br />
            </form>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>