.outer {
    background-image: url("/assets/img/welcome.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.background-image {
    background-color: rgba(200, 239, 240, 0.1); 
    padding: 20px; 
}
  
.card {
    background: linear-gradient(45deg, rgba(109, 128, 254 ,0%), rgb(159 255 135));
    box-shadow: 0 5px 20px rgb(255 255 255 / 30%);
    border-radius: 5px;
    padding: 20px;
    transform: translateY(-100%);
  }
  .card-header{
    background-color:rgba(255,255,255,0);
  }

  h1{
    color:#03203d;
  }
  a{
    text-decoration: none;
    color:rgb(2, 37, 37);
  }
  a:hover{
    color:rgb(23, 5, 186);
  }



  .card-body button {
    padding: 10px 20px;
    background-color: #ed9b01;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
    transition: background-color 0.3s ease;
  }
  
  .card-body button:hover {
    background-color: #094ca4;
  }
  