.logo{
    background-image: url('/assets/img/aadhar-logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width:80px;
    height:56px;
}
nav{
    padding-left: 15px;
    padding-right: 15px;
    gap:13px;
}